<h1>Really Hope this works</h1>

  <%= @groceries %>
  <%= @gas %>
  <%= @everyday_spending %>
  <br />

<% @reward_rates.each do |rate| %>
  <%= rate.credit_card.name %>
  <%= rate.category.name %>
  <%= rate.percent %>
  <% if rate.category.name == 'Grocery Stores' %>
    <%= rate.percent * @groceries.to_i / 100 %>
  <% elsif rate.category.name == 'Gas' %>
    <%= rate.percent * @groceries.to_i / 100 %>
  <% else %>
    <%= rate.percent * @groceries.to_i / 100 %>
  <% end %>
  <br />

<% end %>
