<%= form_tag(credit_cards_cbcalc_path, method: "post") do %>
  <div>
  <%= label_tag 'Groceries:' %>
  <%= number_field_tag 'Groceries' %>
  <br />
  <br />
  <%= label_tag 'Gas:' %>
  <%= number_field_tag 'Gas' %>
  <br />
  <br />
  <%= label_tag 'Everyday Spending:' %>
  <%= number_field_tag 'Everyday Spending' %>
  <br />
  <br />
  <%= submit_tag 'Let\'s Do This!' %>
  </div>

<% end %>
