<h1>Really Hope this Works</h1>

  <table class="table table-bordered table-hover cbcalc">
    <thead>
      <tr>
        <th class="text-center">Card</th>
        <th class="text-center">Annual Fee</th>
        <th class="text-center">Bonus</th>
        <th class="text-center">Reward Rate</th>
        <th class="text-center">Annual Rewards Value</th>
      </tr>
    </thead>

    <% @credit_cards.each do |card| %>
      <tbody>
        <tr>
          <td colspan="5"><%= card.name %></td>
        </tr>
        <tr>
          <td><%= image_tag card.card_art, height: '128', width: '200' %></td>
          <td class="text-center"><h4>$<%= card.annual_fee %></h4></td>
          <td class="text-center"><h4>$<%= card.signup_bonus %></h4></td>
          <td class="text-center"><h4> <%= @reward_rate.round(2) %>%</h4></td>
          <td class="text-center"><h4>$<%= number_with_precision(@cash_back, :precision => 2, :delimiter => ',') %></h4></td>
        </tr>
      </tbody>
    <% end %>
    </table>

      <%= render 'cbcalc_form' %>
