<h1>Really Hope this works</h1>

  <%= @groceries %>
  <%= @gas %>
  <%= @everyday_spending %>
  <br />

  <% @credit_cards.each do |card| %>
      <% reward_rate = card.reward_rates.find{ |rr| rr.category.name == 'Groceries' } %>
      <% @cash_back  = reward_rate.percent * params[:groceries].to_i / 100 %>
      <h2><%= card.name %></h2>
      <%= @cash_back %>
  <% end %>
